.container{
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.pre{
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    color: #2c3e50;
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.error{
    color: red;
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 5px;
    word-break: break-word;
}

.outputTitle{
    font-size: 1.5rem;
    margin-bottom: 10px;
}